@charset "UTF-8";


@media screen and (min-width:800px) and (max-width:992px) {
body {
    background-image:linear-gradient(to left, #7181F7, #46E3CF);
}
main {
    max-width:992px;
}
    section#login {
        width:90vw;
        padding:0px;
        
    }
    section#login > div#imagem {
        float: left;
        width:30%;
        height:100%;
        border-radius:none;
    }
    section#login > div#formulario {
        float:right;
        width:70%;
    }

    div#formulario p {
        font-size:1.4em;
        
    }
    div#formulario h1 {
        text-align:left;
    }
    input {
        margin-bottom:10px;
        padding:20px;
        font-size:16px;
    }
    button#botaoSenha {
        margin:20px 0px;
        padding:10px;
        cursor:pointer;
        border:none;
    }
    button#botaoConfirm {
        margin:15px 0px;
        padding:10px;
        cursor:pointer;
        border:none;
    }
    button#botaoConfirm:hover,#botaoSenha:hover {
        background-color:#7181F7;
        border:solid 2px #7181f7;
    }
}

@media screen and (min-width:992px){
    body {
        background-image:linear-gradient(to bottom, #7181F7, #46E3CF);
        
    }
    section#login {
        width:950px;
        justify-content:center;
        padding:none;
    }

    section#login > div#imagem {
        float:left;
        width:50%;
        height:102%;
        border-radius:none;
        
    }

    section#login > div#formulario {
        float:right;
        padding:20px;
        width:50%;
    }
    div#formulario > p {
        font-size:1.4em;
        padding:10px;
    }
    div#formulario > h1 {
        text-align:left;
        letter-spacing:0.5px;
    }
    input {
        padding:15px;
        font-size:16px;
    }
   
    button#botaoSenha {
        margin-top:30px;
        padding:10px;
        cursor:pointer;
        border:none;
        box-shadow:5px 3px #00000091;
    }

    button#botaoSenha:hover {
        background-color:#7181F7;
        color:white;
        border:none;
    }
    button#botaoConfirm {
        padding:10px;
        cursor:pointer;
        border:none;
        box-shadow:5px 3px #00000091;
        color:#fff;
        
    }
     button#botaoConfirm:hover {
        background-color:#7181F7;
        color:white;
        border:none;
    }   
}
